
{% import 'row.html.twig' as row %}
{% import 'forms.html.twig' as forms %}


<div class="col-md-12 area-conteudo-hash">
    <div class="row panel panel-white">
        {#<div class="panel-heading">#}
        {#<h5>Componente <span>Capa</span></h5>#}
        {#<p>Descrição desse componente para que o usuário saiba do que se trata esse componente.</p>#}
        {#</div>#}
        <div class="panel-body">
            <form method="POST" action="home.php?servico={{ params.servico }}">
                {{ forms.input('id_grupo', view.vo.id_grupo, 'hidden') }}
                {{ forms.input('id', view.vo.cec_id, 'hidden') }}
                <div class="row">
                    <div class="col-md-12">
                        <fieldset class="form-custo">
                            {# <legend>
                                {{ 'Centro de custo' | zftranslate }}
                            </legend> #}
                            <div class="row">

                                {{ row.formgroup('Centro de Custo Pai', forms.select('cec_id_pai', view.vo.cec_id_pai, view.comboCentroPai, 'select2-skin', {'required' : ''}), 'col-md-4') }}
                                {{ row.formgroup('Código', forms.input('cec_codigo', view.vo.cec_codigo, 'text', '', {'required' : ''}), 'col-md-4') }}
                                {{ row.formgroup('Ocultar Registro', forms.checkbox('cec_oculta', view.vo.cec_oculta, {1: 'Sim'}), 'col-md-2') }}
                                {{ row.formgroup('Operacional', forms.checkbox('cec_operacional', view.vo.cec_operacional, {1: 'Sim'}), 'col-md-2') }}
                            </div>
                            <div class="row descricao">
                                {{ row.formgroup('Descrição*', forms.textarea('cec_descricao', view.vo.cec_descricao), 'col-md-12') }}
                            </div>
                            <div class="row">

                            </div>


                        </fieldset>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary btn-sm">
                                Salvar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
