<div class="container-inscricao col-md-12 definir-senha">
    <div class="container-form">
        <form method="POST" id="aceite" action="{{ formAction }}">
            <div class="suport-text">
                <h1>{{ nome }}, Parabéns!</h1>
                <h2>Falta pouco para você ter em seu poder umas das ferramentas mais impressionantes da campanha de 2016, o HASH Campanha 2016. <br>Antes de prosseguir, cadastre sua nova senha:</h2>
            </div>
            <div class="box-form-inscricao box-senha">
                <p>
                    <label>
                        Digite sua nova senha:
                        <input type="password" name="senha" />
                    </label>
                </p>
                <p>
                    <label>
                        Repita a nova senha:
                        <input type="password" name="senha2" />
                    </label>
                </p>
                <p>
                    <label>
                        Lembrete da senha:
                        <input type="text" name="lembrete" />
                    </label>
                </p>
            </div>
            <div class="suport-text termos">
                <h3>{{ 'aceite_termo_servico_e_privacidade'|zftranslate }}</h3>
                <h4>Depois leia e aceite os termos abaixo.</h4>
            </div>
            <div class="box-form-inscricao">
                <h1></h1>
                    <p>
                        <label>
                            <input type="checkbox" name="servico" class="check_aceite" />
                            {{ 'li_e_aceitei'|zftranslate }}
                            <a href="#" data-toggle="modal" data-target="#termoModal" class="servico">{{ 'termo_servico'|zftranslate }}</a>.
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" name="privacidade" class="check_aceite" />
                            {{ 'li_e_aceitei'|zftranslate }}
                            <a href="#" data-toggle="modal" data-target="#privacidadeModal" class="privacidade">{{ 'termo_privacidade'|zftranslate }}</a>.
                        </label>
                    </p>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-8">
                            <button type="submit">{{ 'next'|zftranslate }}</button>
                        </div>
                    </div>
                    <input type="hidden" name="tipoinstalacao" class="" value="{{ tipoinstalacao }}" />
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="privacidadeModal" tabindex="-1" role="dialog" aria-labelledby="privacidadeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel"><strong>Política de privacidade</strong></h4>
      </div>
      <div class="modal-body">
        <p><strong>Respeitamos suas informações.</strong></p>
        <p>Quando você se cadastra na plataforma HASH, no módulo HASH Campanha 2016, nós coletamos algumas informações pessoais:<p>
        <ul>
            <li>Nome;</li>
            <li>Dados do(s) comitê(s) de HASH Campanha 2016 do(s) candidato(s)</li>
            <li>E-mail</li>
            <li>Telefone</li>
            <li>Nova senha para acesso a plataforma HASH;</li>
        </ul>
        <p>Temos 2 (dois) objetivos ao coletarmos essa informação. O primeiro é conceder acesso à plataforma  HASH, no módulo HASH Campanha 2016, a partir do e-mail e senha cadastrados. O segundo objetivo - e motivo de coletarmos seu nome, dados do comitê de HASH Campanha 2016 do seu candidato, seu telefone e também seu e-mail - é termos a possibilidade de entrarmos em contato com você para lhe oferecer ajuda durante o uso da ferramenta.
        As suas informações serão coletadas, usadas e tratadas única e exclusivamente para que as funcionalidades contratadas sejam efetivamente usadas por você e pelo comitê que você desejar seguir, e serão armazenadas em ambiente seguro e de acesso restrito, atendendo a preservação da intimidade, da vida privada, da honra e da imagem das partes direta ou indiretamente envolvidas.</p>
        <p> Caso você deseje alterar suas informações, basta entrar no sistema HASH (http://hash.ws) e clicar em "Editar Perfil" acessível ao lado do crachá de seu usuário, para tanto você deverá estar autenticado na plataforma HASH.</p>
        <p>Suas informações nunca serão fornecidas a nenhuma outra empresa que não a Titanium Tech, mas se mesmo assim você desejar removê-la envie um e-mail para suporte@hash.ws a partir do e-mail que você informou no cadastro ao HASH com o assunto "Excluir minha conta". Sua conta será excluída juntamente com todos seus dados.</p>
        <p>Caso você queira parar de receber comunicações futuras simplesmente envie um e-mail para suporte@hash.ws a partir do e-mail que você informou no cadastro a plataforma HASH com o assunto "Não entrar em contato".</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="termoModal" tabindex="-1" role="dialog" aria-labelledby="termoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel"><strong>Termos de Uso</strong></h4>
      </div>
      <div class="modal-body">
            <p>Estes são os termos que determinarão nossa relação</p>
            <p>Antes de utilizar os produtos HASH, é necessário que você leia, entenda e concorde com estes termos.</p>
            <p><strong>Aceite dos Termos</strong></p>
            <p>Este Contrato de Licença de Usuário Final (“EULA”) é um acordo legal entre o licenciado (pessoa física ou jurídica) (o “LICENCIADO”) e a TITANIUM TECH – FRANCHISING, TECNOLOGIA E COMUNICAÇÃO LTDA - EPP, pessoa jurídica de direito privado, inscrita no CNPJ sob n. 19.814.814/0001-98, com sede no SAAN Q 02 Lote 675, ZONA INDUSTRIAL, CEP 70-632-250, Brasília, DF, Brasil, (a “LICENCIANTE”) para uso da plataforma de programa de computador denominado Plataforma HASH, disponibilizado neste ato pela LICENCIANTE (o “SOFTWARE”) por meio do site “hash.ws” (“Site”) e seus módulos derivados com serviços mobile APP ou por serviços desktop, pelo determinado pelo LICENCIADO no ato do licenciamento do SOFTWARE, compreendendo o programa de computador e podendo incluir os meios físicos associados, bem como quaisquer materiais impressos e qualquer documentação online ou eletrônica. Ao utilizar o SOFTWARE, mesmo que parcialmente, remunerado ou em caráter gratuito, ou a título de teste, o LICENCIADO estará vinculado aos termos deste EULA, concordando com suas disposições, principalmente com relação ao CONSENTIMENTO PARA o ACESSO, COLETA, COMPARTILHAMENTO, USO, ARMAZENAMENTO, TRATAMENTO E TÉCNICAS DE PROTEÇÃO ÀS INFORMAÇÕES do LICENCIADO pela LICENCIANTE, necessárias para a integral execução das funcionalidades ofertadas pelo SOFTWARE. Em caso de discordância com os termos aqui apresentados, a utilização do SOFTWARE deve ser imediatamente interrompida pelo LICENCIADO.</p>
            <p>Fazem parte dos Módulos mobile e desktop da plataforma HASH os seguintes produtos:</p>
                <p>Portal de Informações Políticas – Emandato.com; Portal de informações Sindicais – esindicato.com; Portal de gestão de campanhas eleitorais – elegie.com.br, HASH pré-camapanha; módulo de arrecadação solidária e campanhas sociais;  modulo de arrecadação eleitoral e partidária, modulo de mensageria e gestão de times HASH MESSENGER, gestor financeiro HASH, HASH SOCIAL MARKETING, todos integrados e controlados na plataforma HASH.WS ou HASH Workspace.</p>
            <p>Basicamente,</p>
            <p>Nossa sede fica na cidade de Brasília no Distrito Federal e ao usar a Plataforma HASH você concorda com os termos estabelecidos neste instrumento para a utilização de nosso produto HASH e seus módulos.</p>
            <p>1. Da Propriedade Intelectual</p>
            <p>O LICENCIADO não adquire, pelo presente instrumento ou pela utilização do SOFTWARE, nenhum direito de propriedade intelectual ou outros direitos exclusivos, incluindo patentes, desenhos, marcas, direitos autorais ou quaisquer direitos sobre informações confidenciais ou segredos de negócio, bem como todo o conteúdo disponibilizado no Site, incluindo, mas não se limitando a textos, gráficos, imagens, logotipos, ícones, fotografias, conteúdo editorial, notificações, softwares e qualquer outro material, sobre ou relacionados ao SOFTWARE ou nenhuma parte dele. O LICENCIADO também não adquire nenhum direito sobre ou relacionado ao SOFTWARE ou qualquer componente dele, além dos direitos expressamente licenciados ao LICENCIADO sob o presente EULA ou em qualquer outro contrato mutuamente acordado por escrito entre o LICENCIADO e
            a LICENCIANTE. Quaisquer direitos não expressamente concedidos sob o presente instrumento são reservados.</p>
            <p>Também será de propriedade exclusiva da LICENCIANTE ou está devidamente licenciado, todo o conteúdo disponibilizado no Site, incluindo, mas não se limitando a, textos, gráficos, imagens, logos, ícones, fotografias, conteúdo editorial, notificações, softwares e qualquer outro material.</p>
            <p>Basicamente,</p>
            <p>A propriedade do produto HASH e seus módulos, é da empresa Titanium Tech que licencia o direito de você usá-lo para ajudá-lo a gerir o seus dia a dia.</p>
            <p>2. Declarações do LICENCIADO</p>
            <p>O LICENCIADO declara ter pleno conhecimento dos direitos e obrigações decorrentes do presente EULA, constituindo este instrumento o acordo completo entre as partes. Declara, ainda, ter lido, compreendido e aceito todos os seus termos e condições.</p>
            <p>O LICENCIADO declara que foi devidamente informado da política de confidencialidade e ambientes de proteção de informações confidenciais, dados pessoais e registros de acesso da LICENCIANTE, consentindo livre e expressamente às ações de coleta, compartilhamento, uso, armazenamento e tratamento das referidas informações e dados.</p>
            <p>O LICENCIADO declara estar ciente de que as operações que correspondam à aceitação do presente EULA, de determinadas condições e opções, bem como eventual rescisão do presente instrumento e demais alterações, serão registradas nos bancos de dados da LICENCIANTE, juntamente com a data e hora em que foram realizadas pelo LICENCIADO, podendo tais informações serem utilizadas como prova pelas partes, independentemente do cumprimento de qualquer outra formalidade.</p>
            <p>O LICENCIADO declara ainda que está ciente de que para usufruir de algumas das funcionalidades do SOFTWARE, em especial:
             dos serviços de integração com a rede bancária, utilizado no gerenciador financeiro, deverá disponibilizar, se do seu interesse for, à LICENCIANTE as INFORMAÇÕES DE CONTA para que o SOFTWARE, de maneira automatizada, colete informações diretamente nos sites e/ou outros meios virtuais disponibilizados pelas instituições financeiras, com as quais mantenha relacionamento;
            dos serviços de integração com as redes sociais, deverá disponibilizar à LICENCIANTE, se do seu interesse for, as INFORMAÇÕES DE TOKEN, LOGIN e SENHA para que o SOFTWARE, de maneira automatizada ou manual, colete e poste informações diretamente nos sites e/ou outros meios virtuais disponibilizados pelas redes sociais, com as quais mantenha relacionamento; ficando expresso que agindo a LICENCIANTE, neste caso, como representante e mandatária do LICENCIADO nestes atos.</p>

            <p>Basicamente,</p>
            <p>Aceitando os termos deste instrumento você concorda com todas as suas cláusulas e reconhece que seus dados e informações serão coletados pelo LICENCIANTE e sempre tratados com confidencialidade. Você compartilhará conosco certas informações específicas e que são necessárias para proporcionarmos, por meio de funcionalidades automáticas, a melhor experiência da plataforma HASH e seus módulos para você, nosso cliente.</p>
            <p>3. Licença de Uso do Software</p>
            <p>Sujeito aos termos e condições aqui estabelecidos, este EULA concede ao LICENCIADO uma licença revogável, não exclusiva e intransferível para uso do SOFTWARE. O LICENCIADO não poderá utilizar e nem permitir que o SOFTWARE seja utilizado para outra finalidade que não seja o processamento de suas informações ou de pessoas jurídicas indicadas pelo LICENCIADO no ato do cadastramento, exceto caso o LICENCIADO seja empresa de contabilidade, agência de eventos, agência de propaganda e marketing,  que utiliza o SOFTWARE para processar informações de seus clientes, observados os limites estabelecidos neste EULA. Esta licença não implica a capacidade de acessar outros softwares além daqueles originalmente localizados no SOFTWARE. Em nenhuma hipótese o LICENCIADO terá acesso ao código fonte do SOFTWARE ora licenciado, por este se tratar de propriedade intelectual da LICENCIANTE.</p>
            <p>Basicamente,</p>
            <p>Nós poderemos celebrar o mesmo contrato com inúmeras pessoas. Nós vamos disponibilizar para você todas as funcionalidades adquiridas no ato da contratação.</p>
            <p>4. Das Restrições</p>
            <p>Em hipótese alguma é permitido ao LICENCIADO ou a terceiros, de forma geral:</p>
            <ul>
                <li>Copiar, ceder, sublicenciar, vender, dar em locação ou em garantia, reproduzir, doar, alienar de qualquer forma, transferir total ou parcialmente, sob quaisquer modalidades, gratuita ou onerosamente, provisória ou permanentemente, o SOFTWARE objeto deste EULA, assim como seus módulos, partes, manuais ou quaisquer informações a ele relativas;</li>
                <li>Retirar ou alterar, total ou parcialmente, os avisos de reserva de direito existente no SOFTWARE e na documentação;</li>
                <li>Praticar engenharia reversa, descompilação ou desmontagem do SOFTWARE.</li>
            </ul>
            <p>Basicamente,</p>
            <p>Você não poderá dar, emprestar, vender ou fazer cópia do Plataforma HASH e seus módulos para ninguém (se desejar, você pode indicar o Plataforma HASH e seus módulos para seus amigos e conhecidos). Você também não poderá mudar as características do Plataforma HASH e seus módulos e nem deve tentar desvendar o funcionamento técnico do software.</p>
            <p>5. Do Prazo</p>
            <p>O presente EULA entra em vigor na data de seu aceite pelo LICENCIADO e vigorará pelo prazo do Plano contratado pelo LICENCIADO. Este EULA será automaticamente renovado por iguais períodos caso o LICENCIADO não se manifeste expressamente em contrário. Este EULA poderá ser rescindido conforme estabelecido abaixo nesse instrumento.</p>
            <p>Basicamente,</p>
            <p>Este contrato é valido pelo prazo do plano contratado por você e será automaticamente renovado caso você não nos comunique sua falta de interesse na renovação, mas ele poderá ser terminado conforme previsto abaixo neste instrumento.</p>
            <p>6. Da Remuneração e Forma de Pagamento</p>
            <p>O LICENCIADO deverá pagar à LICENCIANTE o valor do plano de licenciamento escolhido e de acordo com a periodicidade definida entre as opções de pagamento disponibilizadas ao LICENCIADO no ato da contratação.</p>
            <p>Caso o LICENCIADO opte por produtos mantidos mediante veiculação de publicidade de terceiros ou produtos e serviços com planos gratuitos as regras abaixo do Item 6. não serão pertinentes, somente aplicadas se o plano selecionado for extinto ou se por decisão própria migrar para planos remunerados.</p>
            <p>Caso o LICENCIADO, no decorrer da vigência do presente instrumento, opte por outro plano de licenciamento, os valores serão alterados de acordo com o respectivo plano escolhido.</p>
            <p>A falta de pagamento de quaisquer valores nas respectivas datas de vencimento não acarretará na rescisão automática do EULA, mas causará a suspensão do acesso do LICENCIADO ao SOFTWARE até que as pendências financeiras tenham sido regularizadas. O acesso ao SOFTWARE somente será reestabelecido após a identificação pela LICENCIANTE do pagamento integral de todos os valores devidos enquanto o mesmo esteve suspenso. A identificação poderá ocorrer em até dois dias úteis após a data de pagamento pelo LICENCIADO. Caso o LICENCIADO não resolva a pendência financeira no prazo de 60 (sessenta) dias contados do vencimento do valor não pago, a LICENCIANTE se reserva o direito de rescindir o presente EULA e apagar de forma definitiva e irrecuperável todas as informações do LICENCIADO que por ventura estejam armazenadas no SOFTWARE.</p>
            <p>Os valores dos planos de licenciamento estabelecidos no ato do licenciamento do SOFTWARE serão atualizados anualmente, na data da aniversário do plano, pelo IGPM-FGV acumulado no período, ou no caso de extinção deste, de outro índice oficial que venha a substituí-lo.</p>
            <p>Basicamente,</p>
            <p>Durante o Prazo contratado, você deverá nos pagar o valor do pacote que você escolheu e que confirmamos por meio de e-mail específico. A cada ano podemos atualizar o valor deste pacote pelo IGPM-FGV.</p>
            <p>Se você precisar de outras funcionalidades ou módulos que ainda não contratou, você poderá mudar seu plano de licenciamento e começaremos a cobrar o novo valor após você trocá-lo.</p>
            <p>Se por algum motivo você deixar de realizar algum pagamento na data acordada, seu acesso ao Plataforma HASH e seus módulos será suspenso. Caso você não resolva a pendência financeira no prazo de 60 (sessenta) dias contados do vencimento do valor não pago, nos reservamos o direito de rescindir o EULA e apagar de forma definitiva e irrecuperável todas as suas informações que por ventura estejam armazenadas no Plataforma HASH e seus módulos.</p>
            <p>7. Restituição das Informações</p>
            <p>Suspenso o acesso do LICENCIADO ao SOFTWARE, a LICENCIANTE manterá as informações do LICENCIADO armazenadas no SOFTWARE pelo período de 60 (sessenta) dias, contados da suspensão de acesso. Durante este período, a LICENCIANTE tornará as informações do LICENCIADO disponíveis para serem extraídas do SOFTWARE em formato .csv.</p>
            <p>Conforme descrito na cláusula 6 acima, passados 60 (sessenta) dias da suspensão do acesso do LICENCIADO ao SOFTWARE, todas as INFORMAÇÕES do LICENCIADO, incluindo as INFORMAÇÕES PESSOAIS, INFORMAÇÕES DE CONTA e INFORMAÇÕES FINANCEIRAS, TIMES, GRUPOS, HISTÓRICOS DE COMUNICAÇÃO, CAMPANHAS, CONTATOS, CONTEÚDO DE PORTAIS e SITES PESSOAIS ou CORPORATIVOS, em poder da LICENCIANTE serão excluídos permanentemente do banco de dados da LICENCIANTE, independentemente de terem sido extraídas ou não pelo LICENCIADO.</p>
            <p>Não obstante o disposto acima, as informações referentes à data e hora de acesso e ao endereço de protocolo de internet utilizado pelo LICENCIADO para acessar o Site e o SOFTWARE permanecerão armazenadas pela LICENCIANTE por 6 (meses) a contar da data de cada acesso realizado, independentemente do término da relação jurídica e comercial entre a LICENCIANTE e o LICENCIADO, em cumprimento ao disposto no Artigo 15 da Lei nº 12.965/2014, podendo ser armazenados por um período maior de tempo mediante ordem judicial.</p>
            <p>Basicamente,</p>
            <p>Durante o período em que o seu acesso ao Plataforma HASH e seus módulos estiver suspenso, nós deixaremos as suas informações disponíveis para extração. Você terá um prazo de até 60 dias para reaver as informações que você colocou no sistema. Após esse prazo nós excluiremos suas informações de forma definitiva e irrecuperável.</p>
            <p>Dados sobre a data de seus acessos e o endereço IP utilizado permanecerão armazenadas por, no mínimo, 6 meses contados de cada acesso, mesmo em caso de exclusão das informações em caso de suspensão do acesso ao software.</p>
            <p>8. Das Obrigações do Licenciado</p>
            <p>Obriga-se o LICENCIADO a:</p>
            <ul>
                <li>Manter pessoal treinado para a operação do SOFTWARE e para a comunicação com a LICENCIANTE e prover, sempre que ocorrerem quaisquer problemas com o SOFTWARE, toda a documentação, relatórios e demais informações que relatem as circunstâncias em que os problemas ocorreram, objetivando facilitar e agilizar os trabalhos;</li>
                <li>Manter, às suas expensas, linha de telecomunicação, modem, software de comunicação, endereço de correio eletrônico e outros recursos necessários à comunicação com a LICENCIANTE;</li>
                <li>Responder pelas INFORMAÇÕES inseridas no SOFTWARE, pelo cadastramento, permissões, senhas e modo de utilização de seus usuários. A LICENCIANTE em hipótese alguma será responsável pelo conteúdo (INFORMAÇÕES, senhas, cópias de informações, etc.) incluído no SOFTWARE, não sendo, portanto, estas INFORMAÇÕES revisadas em momento algum. A responsabilidade pelas INFORMAÇÕES inseridas no SOFTWARE é sempre do LICENCIADO;</li>
                <li>Certificar-se de que não está proibido por determinação legal e/ou contratual de passar INFORMAÇÕES, INFORMAÇÕES FINANCEIRAS, INFORMAÇÕES DE CONTA e INFORMAÇÕES PESSOAIS, INFORMAÇÕES DE CONTAS DE REDE SOCIAL, bem como quaisquer outros dados à LICENCIANTE, necessários para a execução do serviço oferecido por este EULA;</li>
                <li>Não utilizar o SOFTWARE de qualquer forma que possa implicar em ato ilícito, infração, violação de direitos ou danos à LICENCIANTE ou terceiros, incluindo, mas não se limitando ao uso para invasão de dispositivo informático com o objetivo de obter, adulterar ou destruir dados ou informações sem a autorização expressa do titular de tais dados ou do dispositivo ou servidor nos quais estes estejam armazenados;</li>
                <li>Não publicar, enviar ou transmitir qualquer arquivo que contenha vírus, worms, cavalos de troia ou qualquer outro programa que possa contaminar, destruir ou interferir no bom funcionamento do SOFTWARE;</li>
                <li>Informar a LICENCIANTE sempre que houver qualquer alteração das INFORMAÇÕES fornecidas à LICENCIANTE e que possam impedir, limitar ou prejudicar o acesso da LICENCIANTE às INFORMAÇÕES necessárias para a execução das funcionalidades ofertadas pelo SOFTWARE;</li>
                <li>Caso o LICENCIADO acredite que seu login e senha de acesso ao SOFTWARE tenham sido roubados ou sejam de conhecimento de outras pessoas, por qualquer razão, o LICENCIADO deverá imediatamente comunicar tal fato à LICENCIANTE, sem prejuízo da alteração da sua senha imediatamente, por meio do SOFTWARE.</li>
                <li>Quando o LICENCIADO se tratar de empresa terceira, de comunicação, planejamento, marketing ou de contabilidade, deverá indicar no ato do cadastramento os usuários autorizados a acessar a base cadastrada, assim como indicar o responsável financeiro pelo pagamento.</li>
            </ul>
            <p>Basicamente,</p>
            <p>O Plataforma HASH e seus módulos é um produto de fácil utilização, mas se você precisar entrar em contato conosco por qualquer motivo, nossos atendentes farão algumas perguntas e poderão solicitar alguns documentos e informações para poder fazer um diagnóstico e ajudá-lo. Lembre-se que quanto mais detalhadas e precisas forem suas respostas, melhor será a ajuda que conseguiremos lhe dar.</p>
            <p>Além disso, você é responsável pelas informações que coloca no software e deve ter as autorizações necessárias para inclui-las caso não seja o titular dessas informações.</p>
            <p>Você não deve usar o software de forma ilegal ou danosa a nós ou a terceiros (não deve utilizá-lo para a prática de crimes e nem para o envio de vírus, por exemplo).</p>
            <p>Algumas funcionalidades do sistema são automáticas e dependem de acesso a sistemas de terceiros, como de instituições financeiras ou redes sociais, por exemplo, e, portanto, precisaremos dos seus dados para que elas funcionem perfeitamente. Se você quiser utilizar essas funcionalidades, você deverá informar seus dados para o sistema e mantê-los sempre atualizados. Seus dados serão sempre tratados com confidencialidade por nós.</p>
            <p>9. Das Obrigações do Licenciante</p>
            <p>Obriga-se a LICENCIANTE a:</p>
            <ul>
                <li>A LICENCIANTE garante ao LICENCIADO que o SOFTWARE deverá funcionar regularmente, se respeitadas as condições de uso definidas na documentação. Na ocorrência de falhas de programação (“bugs”), a LICENCIANTE obrigar-se-á a corrigir tais falhas, podendo a seu critério substituir a cópia dos Programas com falhas por cópias corrigidas;</li>
                <li>Fornecer, ato contínuo ao aceite deste EULA, acesso ao SOFTWARE durante a vigência deste EULA;</li>
                <li>Suspender o acesso ao SOFTWARE do LICENCIADO que esteja desrespeitando as regras de conteúdo aqui estabelecidas ou as normas legais em vigor;</li>
                <li>Alterar as especificações e/ou características do SOFTWARE licenciados para a melhoria e/ou correções de erros;</li>
                <li>Disponibilizar acesso aos serviços de suporte compreendido de segunda a sexta-feira, das 09:00h às 17:30h (pelo horário de Brasília), sem intervalo, via chat (localizado no interior do SOFTWARE), por meio de correio eletrônico (suporte@hash.ws), por meio de canal de suporte disponibilizado em cada um dos módulos da plataforma por telefone e ainda através da página de suporte (http://suporte.hash.ws), disponível 24 horas por dia e todos os dias da semana) para esclarecimento de dúvidas de ordem não técnica diretamente relacionadas ao SOFTWARE.</li>
                <li>Manter as INFORMAÇÕES FINANCEIRAS, INFORMAÇÕES DE CONTA e INFORMAÇÕES PESSOAIS, INFORMAÇOES DE REDES SOCIAIS do LICENCIADO, bem como seus registros de acesso, em sigilo, sendo que as referidas INFORMAÇÕES serão armazenadas em ambiente seguro, sendo respeitadas a intimidade, a vida privada, a honra e a imagem do LICENCIADO, em conformidade com as disposições da Lei nº 12.965/2014.</li>
            </ul>
            <p>Basicamente,</p>
            <p>Nós vamos lhe entregar o melhor software que pudermos e, se eventualmente ocorrerem falhas, envidaremos os melhores esforços para consertá-las, o mais rápido possível.</p>
            <p>Nós poderemos fazer melhorias no software e disponibilizá-las assim que as testarmos.</p>
            <p>Nós estaremos prontos para ajudá-los, das 08:00h às 17:30h (horário de Brasília), e, durante este horário, você nos encontrará por meio do telefone, e-mail ou chat.</p>
            <p>Garantimos a segurança das informações e dados pessoais de acesso incluídos na sua conta, de acordo com a Lei nº 12.965/2014, também conhecida como Marco Civil da Internet.</p>
            <p>10. Nível de Serviço</p>
            <p>A LICENCIANTE empreenderá esforços comercialmente razoáveis para tornar o SOFTWARE disponível, no mínimo, 99,0% (noventa e nove por cento) durante cada Ano de Serviço (conforme definido abaixo) (“Compromisso de Nível de Serviço”). Na hipótese de a LICENCIANTE não cumprir o Compromisso de Nível de Serviço, o LICENCIADO terá o direito de receber o crédito correspondente a 1 (um) mês de mensalidade, 1/3 avos (para planos trimestrais) ou 1/12 avos (para planos anuais) (“Crédito de Serviço”) para os planos de serviço remunerados, quando contratados.</p>
            <p>Por “Ano de Serviço” entende-se os 365 dias precedentes à data de uma reivindicação relacionada ao nível de serviço. Se o LICENCIADO estiver se utilizando do SOFTWARE durante período inferior a 365 dias, o Ano de Serviço que lhe corresponde será, ainda assim, considerado como os 365 dias precedentes; no entanto, os dias anteriores a seu uso dos serviços serão considerados como de 100% de disponibilidade. Os períodos de inatividade operacional que ocorrerem antes de uma reivindicação bem sucedida de Crédito de Serviço não poderão ser usados para efeito de reinvindicações futuras.</p>
            <p>O LICENCIADO poderá acompanhar regularmente a disponibilidade do SOFTWARE mediante o acesso ao seguinte endereço: http://system.hash.ws</p>
            <p>O Compromisso de Nível de Serviço não se aplica caso as circunstâncias de indisponibilidade resultem (i) de uma interrupção do fornecimento de energia elétrica ou paradas emergenciais não superiores a 2 (duas) horas ou que ocorram no período das 24h às 6:00h (horário de Brasília); (ii) forem causadas por fatores que fujam ao razoável controle da LICENCIANTE, inclusive casos de força maior ou de acesso à Internet e problemas correlatos; (iii) resultem de quaisquer atos ou omissões do LICENCIADO ou de terceiros; (iv) resultem do equipamento, software ou outras tecnologias que o LICENCIADO usar que impeçam o acesso regular do SOFTWARE; (v) resultem de falhas de instâncias individuais não atribuíveis à indisponibilidade do LICENCIADO; (vi) resultem de alterações realizadas na forma de acesso a INFORMAÇÕES FINANCEIRAS, INFORMAÇÕES DE REDES SOCIAIS e/ou INFORMAÇÕES DE CONTA do LICENCIADO pelas instituições financeiras ou redes sociais; (vii) resultem de práticas de gerenciamento da rede que possam afetar sua qualidade.</p>
            <p>Basicamente,</p>
            <p>Se por culpa nossa você, sendo contratante de algum modulo pago, da plataforma HASH, ficar impossibilitado de usar a Plataforma HASH e seus módulos por mais que horas em um ano, nós lhe pagamos o valor equivalente a uma mensalidade do plano de licenciamento contratado por você.</p>
            <p>Para que este controle seja transparente, você poderá acessar o site plataforma HASH e seus módulos no endereço http://system.hash.ws, que monitora, em tempo real, a situação dos servidores e ajudará você a saber se eventual problema é com o Plataforma HASH e seus módulos, com o site das instituições financeiras ou com seu provedor de internet, por exemplo.</p>
            <p>Algumas funcionalidades da Plataforma HASH e seus módulos dependem também de terceiros, então, se esses serviços de terceiros não funcionarem, a responsabilidade não é do Plataforma HASH e seus módulos.</p>
            <p>11. Isenção de Responsabilidade da Licenciante</p>
            <p>A LICENCIANTE não se responsabiliza:</p>
            <ul>
                <li>Por falha de operação, operação por pessoas não autorizadas ou qualquer outra causa em que não exista culpa da LICENCIANTE;</li>
                <li>Pelo cumprimento dos prazos legais do LICENCIADO para a entrega de documentos fiscais ou pagamentos de impostos;</li>
                <li>Pelos danos ou prejuízos decorrentes de decisões administrativas, gerenciais ou comerciais tomadas com base nas informações fornecidas pelo SOFTWARE;</li>
                <li>Por problemas definidos como “caso fortuito” ou “força maior”, contemplados pelo Art. 393 do Código Civil Brasileiro;</li>
                <li>Por eventuais problemas oriundos de ações de terceiros que possam interferir na qualidade do serviço;</li>
                <li>Por danos causados a terceiros em razão de conteúdo gerado pelo LICENCIANTE através de SOFTWARE;</li>
                <li>Por revisar as INFORMAÇÕES DE CONTA fornecidas pelo LICENCIADO, bem como as INFORMAÇÕES FINANCEIRAS obtidas junto aos sites e/ou meios virtuais das instituições financeiras, seja no que tange à precisão dos dados, seja quanto à legalidade ou ameaça de violação em função do fornecimento destas informações;/li>
                <li>Por quaisquer produtos e/ou serviços oferecidos por meio dos sites e/ou meios virtuais das instituições financeiras, ainda que de maneira solidária ou subsidiária;</li>
            </ul>
            <p>O acesso às INFORMAÇÕES DE CONTA e às INFORMAÇÕES FINANCEIRAS do LICENCIADO dependem de serviços prestados pelas instituições financeiras. Sendo assim, a LICENCIANTE não assume qualquer responsabilidade quanto à qualidade, precisão, pontualidade, entrega ou falha na obtenção das referidas INFORMAÇÕES junto aos sites e/ou meios virtuais das instituições financeiras.</p>
            <p>A LICENCIANTE adota as medidas de segurança adequadas de acordo com os padrões de mercado para a proteção das INFORMAÇÕES do LICENCIADO armazenadas no SOFTWARE, assim como para o acesso às INFORMAÇÕES FINANCEIRAS do LICENCIADO. Contudo, o LICENCIADO reconhece que nenhum sistema, servidor ou software está absolutamente imune a ataques e/ou invasões de hackers e outros agentes maliciosos, não sendo a LICENCIANTE responsável por qualquer exclusão, obtenção, utilização ou divulgação não autorizada de INFORMAÇÕES resultantes de ataques que a LICENCIANTE não poderia razoavelmente evitar por meio dos referidos padrões de segurança.<p>
            <p>Basicamente,</p>
            <p>Você, e quem você autorizar, poderão colocar informações no Plataforma HASH e seus módulos, e, por este motivo, nós não podemos nos responsabilizar por quaisquer danos causados a terceiros pelas informações que você ou pessoas autorizadas por você colocarem no software.</p>
            <p>Nós também não nos responsabilizaremos por revisar informações incluídas no Plataforma HASH e seus módulos e nem por informações obtidas, ou produtos que você contrate, junto a instituições financeiras ou qualquer terceiro. Ainda, também não podemos nos responsabilizar pela qualidade das informações enviadas pelas instituições financeiras necessárias para a prestação dos nossos serviços a você e nem por eventuais atrasos no envio dessas informações.</p>
            <p>Apesar de tomarmos medidas de segurança adequadas para proteger suas informações, o Plataforma HASH e seus módulos pode ser objeto de ataques de hackers que tentem obter os seus dados. Assim, nós não seremos responsáveis por eventuais ataques que, apesar de todas as nossas precauções e esforços, não puderam ser evitados.</p>
            <p>12. Da Retomada dos Softwares</p>
            <p>A LICENCIANTE se reserva o direito de cancelar imediatamente o acesso do LICENCIADO ao SOFTWARE nos casos em que o LICENCIADO usar o SOFTWARE de forma diversa daquela estipulada no presente instrumento.</p>
            <p>Basicamente,</p>
            <p>Se você utilizar o software desrespeitando as condições estabelecidas no EULA, nós podemos encerrar sua conta no Plataforma HASH e seus módulos.</p>
            <p>13. Das Garantias Limitadas</p>
            <p>Na extensão máxima permitida pela lei em vigor, o SOFTWARE é fornecido "no estado em que se encontra" e "conforme a disponibilidade", com todas as falhas e sem garantia de qualquer espécie.</p>
            <p>Não obstante o disposto no item 9.a acima, a LICENCIANTE não garante que as funções contidas no SOFTWARE atendam às suas necessidades, que a operação do SOFTWARE será ininterrupta ou livre de erros, que qualquer serviço continuará disponível, que os defeitos no SOFTWARE serão corrigidos ou que o SOFTWARE será compatível ou funcione com qualquer SOFTWARE, aplicações ou serviços de terceiros.</p>
            <p>Além disso, o LICENCIADO reconhece que o SOFTWARE não deve ser utilizado ou não é adequado para ser utilizado em situações ou ambientes nos quais a falha ou atrasos de, os erros ou inexatidões de conteúdo, dados ou informações fornecidas pelo SOFTWARE possam levar à morte, danos pessoais, ou danos físicos ou ambientais graves, incluindo, mas não se limitando, à operação de instalações nucleares, sistemas de navegação ou de comunicação aérea, controle de tráfego aéreo, sistemas de suporte vital ou de armas.</p>
            <p>Basicamente,</p>
            <p>Apesar de nossos esforços em fornecer um produto estável e em corrigir as falhas que sejam identificadas, não podemos garantir que o Plataforma HASH e seus módulos funcione sem interrupções e que todos os defeitos serão corrigidos. Não garantimos a compatibilidade do Plataforma HASH e seus módulos com sistemas ou serviços de terceiros.</p>
            <p>14. Limitação de Responsabilidade</p>
            <p>Em nenhum caso a LICENCIANTE será responsável por danos pessoais ou qualquer prejuízo incidental, especial, indireto ou consequente, incluindo, sem limitação, prejuízos por perda de lucro, corrupção ou perda de dados, falha de transmissão ou recepção de dados, não continuidade do negócio ou qualquer outro prejuízo ou perda comercial, decorrentes ou relacionados ao seu uso ou sua inabilidade em usar o SOFTWARE, por qualquer outro motivo. Sob nenhuma circunstância a responsabilidade integral da LICENCIANTE com relação ao licenciado por todos os danos excederá a quantia correspondente ao plano de licenciamento paga pelo LICENCIADO à LICENCIANTE pela obtenção da presente licença de SOFTWARE.</p>
            <p>Basicamente,</p>
            <p>Não nos responsabilizamos por perdas e danos resultantes ou relacionados ao seu uso do Plataforma HASH e seus módulos cuja culpa não seja nossa.</p>
            <p>Em caso de danos causados por nós, nossa responsabilidade está limitada ao valor da licença (plano de licenciamento) pago por você.</p>
            <p>15. Consentimento livre, expresso e informado para acesso a informações confidenciais e dados pessoais</p>
            <p>O LICENCIADO, ao aceitar utilizar o SOFTWARE, além de aceitar integralmente este "EULA", também consente, livre e expressamente, que a LICENCIANTE colete, use, armazene e faça o tratamento de suas INFORMAÇÕES, incluindo seus dados pessoais, financeiros, bancários, de conta, os quais serão necessários para que o serviço ofertado seja prestado em sua integralidade.</p>
            <p>Para tanto, o LICENCIADO consente, livre e expressamente, em fornecer os dados que permitam o acesso as INFORMAÇÕES necessárias para que o SOFTWARE execute todas as funções para as quais foi projetado.</p>
            <p>Ainda, o LICENCIADO declara e reconhece que para a prestação dos serviços e funcionalidades de integração a rede bancária ofertadas pelo SOFTWARE, a LICENCIANTE acessa INFORMAÇÕES FINANCEIRAS diretamente no site e/ou outros meios virtuais das instituições financeiras, sem fazer qualquer emulação de medidas de segurança, utilizando-se apenas das INFORMAÇÕES PESSOAIS, INFORMAÇÕES DE CONTA, bem como outras eventualmente necessárias, fornecidas pelo LICENCIADO, conforme autorizado.</p>
            <p>O LICENCIADO, por meio deste EULA e fornecendo as INFORMAÇÕES DE CONTA, autoriza e consente expressamente que a LICENCIANTE acesse suas INFORMAÇÕES DE CONTA e INFORMAÇÕES FINANCEIRAS na qualidade de mandatária.</p>
            <p>A LICENCIANTE declara que todas as INFORMAÇÕES DE CONTA serão utilizadas única e exclusivamente para a visualização das informações financeiras nos sites e/ou meios virtuais das instituições financeiras, sendo absolutamente vedada a LICENCIANTE a realização de quaisquer transações.</p>
            <p>O LICENCIADO consente que, ao acessar o site da LICENCIANTE, esta poderá coletar informações técnicas de navegação, tais como tipo de navegador do computador utilizado para acesso ao site, endereço de protocolo de Internet, páginas visitadas e tempo médio gasto no site. Tais informações poderão ser usadas para orientar o próprio LICENCIADO e melhorar os serviços ofertados.</p>
            <p>O LICENCIADO consente livre e expressamente que suas INFORMAÇÕES poderão ser transferidas a terceiros em decorrência da venda, aquisição, fusão, reorganização societária ou qualquer outra mudança no controle da LICENCIANTE. A LICENCIANTE, contudo, compromete-se, nestes casos, a informar o LICENCIADO.</p>
            <p>O LICENCIADO consente livre e expressamente que a LICENCIANTE utilize cookies apenas para controlar a audiência e a navegação em seu site e possibilitar a identificação de serviços segmentados e personalizados ao perfil do LICENCIADO. A LICENCIANTE garante que estas informações coletadas por meio de cookies são estatísticas e não pessoais, bem como que não serão utilizadas para propósitos diversos dos expressamente previstos neste EULA, comprometendo-se a adotar todas as medidas necessárias a fim de evitar o acesso e o uso de tais informações por quaisquer terceiros, sem a devida autorização.</p>
            <p>Basicamente,</p>
            <p>Aceitando nossos termos de uso, ficará a seu critério compartilhar conosco alguns dados, como a sua conta bancária, para que você tenha acesso a algumas funcionalidades que tornarão sua experiência com o Plataforma HASH e seus módulos mais produtiva.</p>
            <p>Se tivermos acesso a essas informações, atuaremos como seu mandatário, e comprometemo-nos a proteger suas informações de acordo com a Lei nº 12.965/14 e a não realizar transações em seu nome.</p>
            <p>16. Da Rescisão</p>
            <p>O LICENCIADO poderá rescindir este EULA a qualquer tempo, desde que comunique à LICENCIANTE, por escrito, devendo pagar o saldo devedor do plano de licenciamento contratado, se existente. Para os planos de licenciamento com pagamento antecipado, caso o LICENCIADO decida rescindir este EULA antes do término do prazo contratado, o LICENCIANTE não restituirá ao LICENCIADO o saldo restante do plano de licenciamento contratado. Este valor será retido pela LICENCIANTE para cobrir os custos operacionais.</p>
            <p>A LICENCIANTE poderá rescindir este EULA a qualquer tempo, desde que comunique ao LICENCIADO, por escrito, com antecedência mínima de 15 (quinze) dias, devendo neste caso restituir ao LICENCIADO o saldo devedor do plano de licenciamento contratado, se existente. Este prazo de antecedência mínima e a obrigação de restituição acima não se aplicarão nos casos previstos na cláusula 12 acima e na cláusula 17 (i) abaixo.</p>
            <p>Para os planos de licenciamento com pagamento antecipado, caso a LICENCIANTE decida rescindir este EULA antes do término do prazo contratado, a LICENCIANTE restituirá ao LICENCIADO o saldo restante do plano de licenciamento contratado.</p>
            <p>A LICENCIANTE poderá rescindir o EULA a qualquer momento em caso de violação pelo LICENCIADO dos termos e condições ora acordados, ou em caso de atraso de pagamento não sanado no prazo de 60 (sessenta) dias, conforme cláusula 6 acima.</p>
            <p>No caso de rescisão do presente contrato, os dados pessoais, bancários, financeiros e demais informações do LICENCIADO ficarão disponíveis conforme cláusula 7 deste termo, sendo excluídos permanentemente após 60 (sessenta) dias da data da rescisão.</p>
            <p>Basicamente,</p>
            <p>Você poderá cancelar seu contrato conosco a qualquer momento mediante envio de comunicação por escrito. Se você tiver escolhido um plano com pagamento semestral, trimestral ou anual, não devolveremos o saldo restante do contrato. O valor pago deve cobrir nossos custos com fornecedores e outros prestadores de serviços que eventualmente já tenham sido contratados. Antes de você cancelar o contrato, entre em contato conosco para sabermos a razão. Faremos o que for possível para não deixar de tê-lo como nosso cliente.</p>
            <p>17. Das disposições Legais</p>
            <ul>
                <li>O LICENCIADO não poderá prestar serviços a terceiros utilizando o SOFTWARE da LICENCIANTE sem autorização prévia e expressa da LICENCIANTE. A autorização de uso do SOFTWARE é fornecida por CNPJ. Desta forma, o SOFTWARE não pode operar sob o regime de multiempresa, necessitando para cada CNPJ uma licença específica;</li>
                <li>Caso o LICENCIADO venha a desenvolver um novo módulo ou produto que caracterize cópia, de todo ou em parte, quer seja do dicionário de dados quer seja do programa, será considerado como parte do SOFTWARE fornecido pela LICENCIANTE, ficando, portanto, sua propriedade incorporada pela LICENCIANTE e seu uso condicionado a estas cláusulas contratuais;</li>
                <li>Este EULA obriga as partes e seus sucessores e somente o LICENCIADO possui licença não exclusiva para a utilização do SOFTWARE, sendo-lhe, entretanto, vedado transferir os direitos e obrigações acordados por este instrumento. Tal limitação, no entanto, não atinge a LICENCIANTE, que poderá, a qualquer tempo, ceder, no todo ou em parte, os direitos e obrigações inerentes ao presente EULA;</li>
                <li>A tolerância de uma parte para com a outra quanto ao descumprimento de qualquer uma das obrigações assumidas neste instrumento não implicará em novação ou renúncia de direito. A parte tolerante poderá, a qualquer tempo, exigir da outra parte o fiel e cabal cumprimento deste instrumento;</li>
                <li>Não constitui causa de rescisão contratual o não cumprimento das obrigações aqui assumidas em decorrência de fatos que independam da vontade das partes, tais como os que configuram o caso fortuito ou força maior, conforme previsto no artigo 393 do Código Civil Brasileiro;</li>
                <li>Se qualquer disposição deste EULA for considerada nula, anulável, inválida ou inoperante, nenhuma outra disposição deste EULA será afetada como consequência disso e, portanto, as disposições restantes deste EULA permanecerão em pleno vigor e efeito como se tal disposição nula, anulável, inválida ou inoperante não estivesse contida neste EULA;</li>
                <li>O LICENCIADO concorda que a LICENCIANTE possa divulgar a celebração deste instrumento para fins comerciais, fazendo menção ao nome e à marca do LICENCIADO em campanhas comerciais, podendo, inclusive, divulgar mensagens enviadas de forma escrita ou oral, por telefone, para uso em sites, jornais, revistas e outras campanhas, enquanto vigorar o presente EULA. O LICENCIADO aceita, ainda, receber comunicações via correio eletrônico sobre treinamentos, parcerias e campanhas relacionadas ao SOFTWARE;</li>
                <li>Neste ato, o LICENCIANTE expressamente autoriza o LICENCIADO a colher e utilizar seus dados técnicos e operacionais presentes no SOFTWARE, para fins de estudos e melhorias no SOFTWARE;</li>
                <li>A LICENCIANTE poderá, ao seu exclusivo critério, a qualquer tempo e sem a necessidade de comunicação prévia ao LICENCIADO: a. Encerrar, modificar ou suspender, total ou parcialmente, o acesso do LICENCIADO ao SOFTWARE, quando referido acesso ou cadastro estiver em violação das condições estabelecidas neste EULA; b. Excluir, total ou parcialmente, as informações cadastradas pelo LICENCIADO que não estejam em consonância com as disposições deste EULA; c. Acrescentar, excluir ou modificar o conteúdo oferecido no site; d. Alterar quaisquer termos e condições deste EULA mediante simples comunicação ao LICENCIADO.</li>
                <li>A LICENCIANTE ainda poderá, a seu exclusivo critério, suspender, modificar ou encerrar as atividades do SOFTWARE, mediante comunicação prévia por escrito ao LICENCIADO, com antecedência mínima de 15 (quinze) dias, disponibilizando formas e alternativas de extrair do Site as informações, salvo nas hipóteses de caso fortuito ou força maior.</li>
                <li>A LICENCIANTE poderá, por meio de comunicação ao endereço eletrônico indicado pelo LICENCIADO em seu cadastro ou por meio de aviso no Site, definir preços para a oferta de determinados conteúdos e/ou serviços, ainda que inicialmente tais serviços tenham sido ofertados de forma gratuita, sendo a utilização destes, após o referido aviso, considerada como concordância do LICENCIADO com a cobrança de tais preços</li>
                <li>Fica certo e entendido pelo LICENCIADO que somente a pessoa cadastrada pelo próprio LICENCIADO como administradora de conta poderá solicitar que as informações do LICENCIADO inseridas no Software sejam apagadas. Ainda, o LICENCIADO declara sua ciência de que uma vez apagadas, estas não poderão mais ser recuperadas, ficando a LICENCIANTE isenta de qualquer responsabilidade por quaisquer perdas ou danos decorrentes deste procedimento solicitado pelo LICENCIADO.</li>
            </ul>
            <p>Basicamente,</p>
            <p>Estamos reforçando algumas informações que já mencionamos anteriormente.</p>
            <p>Nós ficamos tão felizes de ter você como nosso cliente que queremos falar isso para todo mundo e, com o EULA, você nos autoriza a divulgar a terceiros que você é um de nossos clientes.</p>
            <p>Poderemos modificar ou encerrar o Plataforma HASH e seus módulos a qualquer momento, e inclusive definir preços para serviços anteriormente gratuitos ou alterar qualquer termo ou condição deste EULA. Nós avisaremos você sobre essas alterações por meio do nosso site ou pelo envio de e-mail.</p>
            <p>Somente a pessoa cadastrada por você como administradora de conta poderá solicitar que suas informações inseridas no Software sejam apagadas. Ainda, você declara sua concordância e conhecimento de que uma vez apagadas, as informações não poderão ser mais recuperadas e a Plataforma HASH e seus módulos não terá nenhuma responsabilidade pela execução deste procedimento.</p>
            <p>18. Da Lei Aplicável</p>
            <p>Este EULA será regido, interpretado e se sujeitará às leis brasileiras e, o LICENCIADO e a LICENCIANTE desde logo elegem, de forma irrevogável e irretratável, o foro BRASÍLIA, DISTRITO FEDERAL, para dirimir quaisquer dúvidas ou controvérsias oriundas deste EULA, com a exclusão de qualquer outro, por mais privilegiado que seja.</p>
            <p>Basicamente,</p>
            <p>O instrumento se sujeita às leis brasileiras e caso haja alguma discussão judicial sobre o Plataforma HASH e seus módulos esta deverá ser resolvida em BRASÍLIA-DF.</p>
            <p>19. Das definições</p>
            <p>Os termos utilizados neste instrumento deverão ser interpretados e usados conforme definições abaixo, seja no singular ou plural:</p>
            <p>INFORMAÇÕES DE CONTA: informações e dados relativos a contas correntes, contas poupanças, cartões de crédito, incluindo logins, senhas e demais informações necessárias para acessar, coletar, armazenar, usar e tratar as informações obtidas nos sites das instituições financeiras.</p>
            <p>INFORMAÇÕES FINANCEIRAS: informações fornecidas pelo LICENCIADO ou coletadas diretamente dos sites e dispositivos da instituição financeira por meio do SOFTWARE com os dados do LICENCIADO, tais como recebimentos, pagamentos, investimentos, etc.</p>
            <p>INFORMAÇÕES PESSOAIS: qualquer informação disponibilizada pelo LICENCIADO que o identifique, tais como nome, endereço, data de nascimento, número de telefone, fax, endereço eletrônico, número de documentos, etc.</p>
            <p>INFORMAÇÕES: entende-se todas as informações do LICENCIADO relacionadas a INFORMAÇÕES PESSOAIS, INFORMAÇÕES FINANCEIRAS e INFORMAÇÕES DE CONTA.</p>
            <p>LICENCIADO: pessoa física ou jurídica, com plena capacidade de contratar, que acessa o SOFTWARE da LICENCIANTE por meio do site, realizando seu cadastro, aceitando os termos do presente EULA e usufruindo das funcionalidades oferecidos.</p>
            <p>SOFTWARE: software de propriedade exclusiva da LICENCIANTE, cujas funcionalidades e serviços estão disponibilizados pelo site, por meio do qual as INFORMAÇÕES FINANCEIRAS do LICENCIADO serão fornecidas diretamente por ele ou coletadas diretamente nos sites das instituições financeiras de maneira automatizada.</p>
             <p>Brasília, DF, 27 de julho de 2016.</p>
            <p>TITANIUM TECH – FRANCHISING, TECNOLOGIA E COMUNICAÇÃO LTDA - EPP</p>
            <p>Frederico José Nunes da Silva de Medeiros</p>
            <p>CEO</p>
            <p>Basicamente,</p>
            <p>Ao longo deste instrumento, as expressões a seguir possuem os seguintes significados:</p>
            <p>Informações de conta: conta corrente, conta poupança, cartão de crédito, logins, senhas e demais informações necessárias para acessar, coletar, armazenar dados obtidos nos sites dos bancos.</p>
            <p>Informações financeiras: informações dos bancos como recebimento, pagamentos, investimentos etc.</p>
            <p>Informações pessoais: nome, endereço, data de nascimento, número de telefone, fax, e-mail, número de documentos etc.</p>
            <p>Informações: todas as suas informações.</p>
            <p>Licenciado: você, nosso cliente.</p>
            <p>Software: Plataforma HASH e seus módulos.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
 $(function(){
//    $('.servico').click(function(){
//       bootbox.alert('{{ 'TESTEnnmmtyr'|zftranslate }}');
//    });
//    // $('.privacidade').click(function(){

//    //    bootbox.alert('{{ politicaprivacidade }}');
//    // });
    {#$('#aceite').submit(function(){
        if (2 !== $('.check_aceite:checked').length){
            bootbox.alert('{{ 'aceitar_antes_de_continuar'|zftranslate }}');
            return false;
        }
        return true;
    });#}
 });
// </script>
