
{% import 'row.html.twig' as row %}
{% import 'forms.html.twig' as forms %}


<div class="col-md-12 area-conteudo-hash">
    <div class="row panel panel-white">
        {#<div class="panel-heading">#}
        {#<h5>Componente <span>Capa</span></h5>#}
        {#<p>Descrição desse componente para que o usuário saiba do que se trata esse componente.</p>#}
        {#</div>#}
        <div class="panel-body">
            <form method="POST" action="home.php?servico={{ params.servico }}">
                {{ forms.input('id_grupo', view.vo.id_grupo, 'hidden') }}
                {{ forms.input('transacao_conta_id', view.vo.transacao_conta_id, 'hidden') }}
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>
                                {{ 'Formulário' | zftranslate }}
                            </legend>
                            <div class="row">
                                {% set dataselect = { 'data':
                                    view.autoCompletePessoa.metadata | default([]) | merge({'servico': view.autoCompletePessoa.id}) }
                                %}
                                {% set selectPessoa = forms.select('id_pessoa_cliente',  view.vo.id_pessoa_cliente, view.comboPessoaCliente, 'select2-skin', dataselect  ) %}
                                {{ row.formgroup('Entidade', selectPessoa, 'col-md-4') }}

                                {{ row.formgroup('Moeda', forms.select('moe_id', view.vo.moe_id | default(1) , view.comboMoedas, 'select2-skin'), 'col-md-4') }}

                                {{ row.formgroup('Valor', forms.input('fin_valor', view.vo.fin_valor, 'text', 'decimal'), 'col-md-3') }}

                            </div>
                            <div class="row">
                                {#{{ row.formgroup('Data', forms.input('datasaldo', '', 'text', 'datepicker-skin',  {'data-mask' : '99/99/9999'}), 'col-md-3') }}#}
                                {{ row.formgroup('Descrição', forms.textarea('fin_descricao', view.vo.fin_descricao), 'col-md-4') }}

                                {{ row.formgroup('Observação', forms.textarea('fin_observacao',  view.vo.fin_observacao), 'col-md-4') }}

                                {{ row.formgroup('Tipo', forms.select('tmv_id',  view.vo.tmv_id,  view.comboTipo, 'select2-skin'), 'col-md-4') }}

                            </div>
                            <div class="row">
                                {#{{ row.formgroup('Banco', forms.select('bco_id', view.vo.bco_id, view.bancoCombo, 'select2-skin'), 'col-md-6') }}#}
                                {#{{ row.formgroup('Tipo da Conta', forms.select('tcb_id', view.vo.tcb_id, view.tipoContaBancoCombo, 'select2-skin'), 'col-md-3') }}#}
                                {#{{ row.formgroup('Registro Público', forms.checkbox('register_public', null), 'col-md-3') }}#}
                            </div>
                        </fieldset>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary btn-sm formaction" data-servico="{{ servico.id }}" data-show="ajax">
                                Salvar
                            </button>
                        </div>
                    </div>
                </div>
           </form>
        </div>
    </div>
</div>
